{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": false
      }
    ],
    [
      "vue",
      {
        "eventModifiers": false,
        "vModel": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    "transform-vue-jsx"
  ]
}
