{
  "presets": [
    ["@babel/preset-env", { "modules": false, "useBuiltins": false }],
    ["vue", { "eventModifiers": false, "vModel": false }]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "transform-vue-jsx"
  ]
}
